#main-loading{
	background-color:#50c97c;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/predefined_loading_4.gif');
	background-repeat: no-repeat;
	width:34px;
	height:34px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
